body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ffa500;
}

/* ---- BANNER ---- */
.banner{
    position:relative;
    height: 20vh; /* en vez de pixeles, se usa vh para que sea responsive */
    background: url('./img/Other/banner-principal.png')
        center center/cover no-repeat;
    border-bottom:1px solid #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rbga(0,0,0,0,6);
}

.banner-content{
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 0 20px;
    
}

.banner-content h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ffa500;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 8px;
}

/* ---- LOGIN ---- */
.login-border {
    background-color: #000;
    padding: 1rem;
    border-bottom: 1px solid #ffa500;
}

.login-container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-container label{
    font-size: 0.9rem;
    margin-right: 0.3rem;
    color:#ffa500;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ffa500;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffa500;
}

#btnLogin, #btnLogout {
    background-color: #ffa500;
    border:none;
    padding:0.3rem 0.6rem;
    cursor:pointer;
    color: #000;
    font-weight: bold;
}

#btnLogin:hover, #btnLogout:hover {
    background-color: #ffa500;
}

/* Media Queries 
Esto significa que cuando la pantalla sea más pequeña que 600px, 
el título se hará más pequeño y el contenedor de login ocupará más espacio, 
lo que mejora la legibilidad y la usabilidad en dispositivos móviles. */
@media (max-width: 600px) {
    .banner-content h1 {
        font-size: 1.2rem;
    }
    .login-container {
        width: 95%;
    }
}

/* ---- SECCIONES PRINCIPALES ---- */
.columns-container{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    padding: 0 20px;
}


.column{
    width: 30%;
    min-width: 200px;
    text-align: center;
}

.column h2{
    margin-bottom: 1rem;
    border-bottom: 1px solid #ffa500;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

img{
    height: 80px;
    width: auto;
    overflow: hidden;
}